/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


a, a:visited {
    color: rgb(93, 90, 109);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(78, 78, 78);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteiner {
    max-width: 1180px;
    margin: 0px auto;
}

/* Header */
.header {
    background: #303b44;
    
}

.header__row {
    padding: 18px 0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.header__row a {
    color: #fff;
}

.header__menu {
    color: #303b44;
    padding: 17px 0;

}

.header__white {
    background-color: #fff;
    border-bottom: 1px solid #bccccf;
}

.header__list li {
    display: inline;
    padding: 0 10px;
}
.header__list li:first-child {
    padding: 0 10px 0 0;
}

/* Main */
.main {
    flex: 1 1 auto;
}

.main__text {
    color: #000;
}

/* Footer */
.footer {
    padding: 25px 0;
    background: #303b44;
}

.footer__text {
    text-align: center;
}