/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


a, a:visited {
    color: #303b44;
}
a:hover {
    color: #889db6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #303b44;
    font-size: 14px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteiner {
    max-width: 1200px;
    margin: 0px auto;
}

/* Header */
.header {
    background: #303b44;
    
}

.header__row {
    padding: 18px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    background: #303b44;
}
.header__row a {
    color: #fff;
    font-size: 15px;
    padding: 0px 10px;
}

.header__menu {
    color: #303b44;
    padding: 17px 0;
    display: flex;
}

.header__white {
    background-color: #f7f7f7;
    border-bottom: 1px solid #bccccf;
}

.menu__item {
    padding: 0px 10px;
}

.menu__item_active a {
    color: #303b44;
    font-weight: bold;
}

/* Main */
.main {
    flex: 1 1 auto;
}

.main__text {
    padding: 10px;
    color: #222;
    font-size: 15px;
}
.main__text_title {
    padding: 25px 10px 20px;
    font-size: 24px;
    color: #343434;
}

.main__row {
    display: flex;
    flex-wrap: wrap;
}

.main__map_about {
    flex-basis: 60%;
    height: 550px;
}


.main__text_about {
    flex-basis: 40%;
    text-align: justify;
    text-indent: 1.5em;
}


/* Footer */
.footer {
    padding: 25px 0;
    background: #f7f7f7;
    border-top: 1px solid #bccccf;
}

.footer__row {
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}
.link__item {
    padding: 6px 10px;
}
.link__item_active a {
    color: #303b44;
    font-weight: bold;
}

.footer__social {
    display: flex;
}

.social__text {
    align-self: center;
    padding: 10px;
}
.social__link {
    border-radius: 50%;
    display: inline-block;
    background: #f7f7f7;
    align-self: center;
    margin: 10px;
}
.social__link:hover {
    background: #caddf3;
}

/*  SMARTPHONE */
@media (max-width: 767px) {
    .main__text_title {
        padding: 10px;
    }
    .main__row {
        flex-direction: column;
    }

    .main__map_about {
        min-width: 320px;
        height: 350px;
    }
    

}


@media (max-width: 399px) {

    .footer__row {
        flex-direction: column;
    }
    .link__item {
        padding: 10px 10px;
    }
    .footer__social {
        justify-content: flex-end;
    }

}